
#container {
  display:flex;
  align-items: center;
  border: 1px solid blue;
  height: 85vh;
}

form {
  margin: auto;
  width: 33%;
  min-width: 350px;
  border: 3px solid green;
  padding: 14px;
}

button {
  width: 100%;
}